<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f8f9fa;
      font-family: 'Arial', sans-serif;
    }

    main {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 30px;
      width: 80%;
      text-align: center;
    }

    h1 {
      color: #333;
      font-size: 28px;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: left;
    }

    a {
      color: #007bff;
      text-decoration: none;
      display: inline-block;
      margin-top: 15px; /* Adjust the margin as needed */
      padding: 8px;
      border-radius: 4px;
      background-color: #007bff;
      color: #fff;
      transition: background-color 0.3s;
    }

    a:hover {
      background-color: #0056b3;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <main>
    <h1>Welcome to the Dashboard</h1>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.password %></td>
            <td><%= user.firstName %></td>
            <td><%= user.lastName %></td>
            <td><%= user.dateOfBirth ? user.dateOfBirth.toLocaleDateString() : 'N/A' %></td>
            <td><%= user.email %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/logout">Logout</a>
    <a href="/success">Go to Success Page</a>
    <a href="/login-data">Go to Login Data Admin Panel</a>
    <a href="/user-data">Go to User Data Admin Panel</a>
  </main>
</body>
</html>
